/* font-family: 'Creepster', cursive;
font-family: 'Barlow Semi Condensed', sans-serif; */



.navbar-brand{
    background-color: black;
    align-items: center;
}




.container {
    background-color: black;
    justify-content: center;
    padding: 40px;
}

.image {
    width: 70%;
    height: 70%;
}

.jumbotron-fluid {
    background-color: black;
}
body {
    background-color: black;
}

h1 {
    font-family: 'Creepster', cursive;
    color: white;
    font-size: 80px;
    background-color: black;
    text-align: center;
    
}


p {
    font-family: 'Barlow Semi Condensed', sans-serif; 
    color: white; 
    background-color: black;
    text-align: center;
   

}

th {
    font-family: 'Barlow Semi Condensed', sans-serif; 
    color: white; 
    background-color: black;
    text-align: center;
}
